<p id="notice"><%= notice %></p>

<p>
  <strong>Botid:</strong>
  <%= @game.botid %>
</p>

<p>
  <strong>Server:</strong>
  <%= @game.server %>
</p>

<p>
  <strong>Map:</strong>
  <%= @game.map %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @game.datetime %>
</p>

<p>
  <strong>Gamename:</strong>
  <%= @game.gamename %>
</p>

<p>
  <strong>Ownername:</strong>
  <%= @game.ownername %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @game.duration %>
</p>

<p>
  <strong>Gamestate:</strong>
  <%= @game.gamestate %>
</p>

<p>
  <strong>Creatorname:</strong>
  <%= @game.creatorname %>
</p>

<p>
  <strong>Creatorserver:</strong>
  <%= @game.creatorserver %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
