<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @w3mmd_elo_score.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @w3mmd_elo_score.name %>
</p>

<p>
  <strong>Server:</strong>
  <%= @w3mmd_elo_score.server %>
</p>

<p>
  <strong>Score:</strong>
  <%= @w3mmd_elo_score.score %>
</p>

<%= link_to 'Back', w3mmd_elo_scores_path %>
