<p id="notice"><%= notice %></p>

<h1>Player Stats: <%= @name %></h1>
<h2><%= @elo %> ELO - <%= @record["winner"] %> wins - <%= @record["loser"] %> losses</h2>

<table style="width:100%; text-align:left">
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Result</th>
      <th>Opponent</th>
      <th>Elo Change</th>
      <th>Class</th>
      <th>Opponent Class</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game['gameid'] %></td>
        <td><%= game['result'] %></td>
        <td><%= link_to game['opponent'], controller: :players, action: :show, name: game['opponent'] %></td>
        <td>
          <%= if game['elochange'] or 0 > 0 then "+" end %><%= game['elochange'] or '' %></td>
        <td><%= (game['p1_class'] or '').match(/_(.*)"/) { |m| m[1].gsub('_', ' ').downcase } %> <%= if game['p1_random'] then '(random)' end %></td>
        <td><%= (game['p2_class'] or '').match(/_(.*)"/) { |m| m[1].gsub('_', ' ').downcase } %> <%= if game['p1_random'] then '(random)' end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
