<p id="notice"><%= notice %></p>

<h1>Player Stats: <%= @name %></h1>
<h2><%= @elo %> ELO - <%= @record["winner"] %> wins - <%= @record["loser"] %> losses</h2>

<table style="width:100%; text-align:left">
  <thead>
    <tr>
      <th>Game ID</th>
      <th>Result</th>
      <th>Opponent</th>
      <th>Class</th>
      <th>Opponent Class</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <th><%= game['gameid'] %></th>
        <th><%= game['result'] %></th>
        <th><%= game['opponent'] %></th>
        <th><%= (game['p1_class'] or '').match(/_(.*)"/) { |m| m[1].gsub('_', ' ').downcase } %></th>
        <th><%= (game['p2_class'] or '').match(/_(.*)"/) { |m| m[1].gsub('_', ' ').downcase } %></th>
      </tr>
    <% end %>
  </tbody>
</table>
